body {
    font-family: 'Garamond Nova Pro Regular', serif;
    background-color: #f4f4f4;
}

header h1 {
    color: #025d00e1;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.basket-summary, .reservation-summary {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#confirm-order {
    background-color: #025d00e1;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
