@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


/* Styles pour la page de réservation */

/* Conserve les polices, couleurs, et styles généraux de la page d'accueil */
body, button, input, select {
    font-family: 'Garamond Nova Pro Regular', serif ;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-nav a {
    color: #025d00e1; /* Vert de l'image pour le nom du site */
    text-decoration: none;
    font-size: 2.3rem;
    font-family: 'Garamond Nova Pro Regular', serif ;
    font-weight: 700; /* Pour une police en gras */
}
.wrap-image {
  height: 70px; /* Adjust the height as needed */
  width: auto;
  margin-left: 20px; /* Space between the text and the image */
  vertical-align: middle; /* Align it with the middle of the text */
}
  
  /* Logo */
  .brand-logo {
    color: #025d00e1;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 20px;
    display: inline-block;
  }
  
  /* Centrage du titre principal */
  main h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    margin: 100px 0 20px;
  }
  
  /* Style du formulaire */
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label, form input, form select, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  
  form input[type="date"],
  form select {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: #025d00e1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  form input[type="submit"]:hover {
    background-color: #023d00;
  }
  
  /* Réactivité pour les petits écrans */
  @media (max-width: 768px) {
    header, .brand-logo {
      text-align: center;
      padding: 20px 0;
    }
  
    .brand-logo {
      margin: 0;
    }
  
    main h1 {
      font-size: 2rem;
    }
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  