body {
    background-color: #ffc0cb;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }

  input {
    border: 2px solid #f00;
    padding: 5px;
    font-size: 24px;
    margin: 10px;
  }

  .btnSubmit {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    font-size: 24px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  .btnChangeStyle {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    font-size: 24px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: smaller;
  }

  #output {
    transition: all 0.3s ease-in-out;
}

/* After a button is clicked, add a class to the output element */
.btnSubmit:active ~ #output {
    transform: scale(1.05);
}

body, * {
  transition: all 0s ease-in-out;
}